    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>MyNotes</title>
       
    </head>
    <body>
        <header>
        <nav id="navbar">
            <div id="brand-title">
            <div class="user-profile">
                <img
                src="https://static.vecteezy.com/system/resources/previews/019/896/008/original/male-user-avatar-icon-in-flat-design-style-person-signs-illustration-png.png"
                alt="User Profile Image"
                />
                <p
                style="
                    font-size: 20px;
                    font-family: 'Courier New', Courier, monospace;
                "
                >
                <b>{{notes.name}}</b>
                </p>
            </div>
            </div>
            <div id="MyNote">
            <h1>MyNotes</h1>
            </div>
            <div id="toggleDiv">
            <a href="#" id="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>

            <a href="#" id="toggle-button1">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            </div>

            <div id="navbar-links">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            </div>
        </nav>
        </header>

        <!-- Note input card -->
    

        <script>
        let toggleButton = document.getElementById("toggle-button");
        let toggleButton1 = document.getElementById("toggle-button1");
        let navbarlinks = document.getElementById("navbar-links");
        toggleButton.addEventListener("click", tog);
        function tog() {
            navbarlinks.style.display = "flex";
            toggleButton.style.display = "none";
            toggleButton1.style.display = "flex";
            //  navbarlinks.classlist.toggleButton('active')
        }

        toggleButton1.addEventListener("click", fog);
        function fog() {
            navbarlinks.style.display = "none";
            toggleButton1.style.display = "none";
            toggleButton.style.display = "flex";
            //  navbarlinks.classlist.toggleButton('active')
        }
        </script>

        <div class="note-card">
            <div class="note-form">
                <h2>Edit Your Note</h2>
                <form method="post" action="/edit/{{note.id}}">
                    <input type="text" name="title" value="{{note.notetitle}}" id="noteTitle" required>
                    <input type="text" name="desc" value="{{note.notedesc}}" id="noteDescription" id="noteTitle" required></input>
                    <button type="submit">Save</button>
                </form>
            </div>
        </div>
        

        <div class="footer">
            <p>&copy; 2023 MyNotes</p>
        </div>
        
            
    </body>
    </html>
